---
layout: common
---
{% include top-bar.html%}

{% capture bin_name %}{{page.title}}{% endcapture %}
{% include page_title.html title=bin_name %}

{% include category_list.html bin=page %}


<!-- <h2 id="{{ function_id }}" class="function-name">{{- function.label -}}</h2> -->
<!-- {{ function.description | markdownify }} -->
<h4>Description</h4>
<ul class="examples">
    <li>
        {{ page.description | markdownify }}
        <h4>Location</h4>
        <pre><code>{% if page.location %}{{ page.location | escape }}{% else %}None{% endif %}</code></pre>
    </li>
</ul>

<h4>Interpretation</h4>
<ul class="examples">
    {% if page.interpretation[0] %}
    {% for interpr in page.interpretation %}
    <li>
        {{ interpr | markdownify }}
    </li>
    {% endfor %}
    {% else %}
    {{ page.interpretation | markdownify }}
    {% endif %}
</ul>
